<!-- Upload form -->

<h1>Upload form</h1>

<form method="POST" enctype="multipart/form-data" action="/upload">
    <input type="file" name="file"><br><br>     <!-- nme will be used in the backend -->
    <input type="submit" value="upload">
</form>