<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Questions Guide</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">   <!-- 'public' not necessary for Express -->
        <link rel="stylesheet" href="/css/qgstyle.css">         <!-- after bootstrap -->  
</head>
