<nav class="navbar navbar-light bg-primary">
        <a class="navbar-brand" href="/">
            <img src="../../../img/JOCSDevelopment.png">
        </a>
        <ul class="navbar-nav mr-auto">             <!-- bootstrap classes -->
            <li class="nav-item">
                <a class="nav-link" href="/admin/categories">Categories</a>
            </li>  
             
        </ul>
</nav>